* {margin: 0; padding: 0;}

/* modification for button copy */
.highlight > pre > div{
  display: flex;
  flex-direction: row-reverse;
}
.btn-copy{
  color: #FFF;
  background-color: transparent;
  border: 1;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.25;
}
.btn-copy:hover{
  opacity: 1;
}

.btn-copy:active,
.btn-copy:focus {
  opacity: 1;
}
/* modification for button copy */

